@model AstraCrawler.Domain.ResultLinkInfo
@{
    ViewData["Title"] = "Output Test";
}

<div class="text-center">
    <h1 class="display-4"><a href="@Model.Link">@Model.Name</a></h1>
    <p>@Model.ResultText</p>
</div>
